.contrTask1{
    width: 100%;
    height: auto;
    margin: 20px  0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textTask1{
    width: 60%;
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 10px;
}

.side1{
    margin: 20px 10px;
}

.side2{
    margin: 20px 10px;
}

.side3{
    margin: 20px 10px;
}

.contrForq1{
    display: flex;
    flex-direction: unset;
}

.Unsver1{
    background-color: rgb(122, 122, 122);
    border-radius: 20px ;
    width: 30%;
    height: 60px;
    padding: 10px;
}

.side1_1{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}
.side2_1{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}
.side3_1{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}

.button {
    padding: 10px;
    font-size: 15px;
    background-color:rgb(148, 148, 148);
    border-radius: 10px;
    cursor: pointer; 
    margin-bottom: 10px;
}

.contrTask2, .contrTask3, .contrTask5, .contrTask6, .contrTask7, .contrTask8{
    width: 100%;
    height: auto;
    margin: 100px  0px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textTask2, .textTask3, .textTask5, .textTask6, .textTask7, .textTask8{
    width: 60%;
    background-color: gray;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    font-family: 10px;
}

.side1Task2, .side1Task3, .side1Task5, .side1Task6 , .side1Task7, .side1Task8{
    margin: 20px 10px;
}

.side2Task2, .side2Task3, .side2Task5, .side2Task7{
    margin: 20px 10px;
}

.side3Task2, .side3Task3, .side3Task5, .side4Task5{
    margin: 20px 10px;
}

.contrForq2, .contrForq3, .contrForq5, .contrForq6, .contrForq7, .contrForq8{
    display: flex;
    flex-direction: unset;
}

.Unsver2, .Unsver3, .Unsver5, .Unsver6, .Unsver7, .Unsver8{
    background-color: rgb(122, 122, 122);
    border-radius: 20px ;
    width: 30%;
    height: 60px;
    padding: 10px;
}

.side1_1Task2, .side1_1Task3, .side1_1Task5, .side1_1Task6, .side1_1Task7, .side1_1Task8{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}
.side2_1Task2, .side2_1Task3, .side2_1Task5, .side2_1Task7{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}
.side3_1Task2, .side3_1Task3, .side3_1Task5, .side4_1Task5{
    border-bottom: solid 2px  rgb(148, 148, 148);
    border-top: solid 0px  rgb(148, 148, 148); 
    border-left: solid 0px  rgb(148, 148, 148); 
    border-right: solid 0px  rgb(148, 148, 148); 
    padding: 7px;
}

.button2, .button3, .button5, .button6, .button7, .button8{
    padding: 10px;
    font-size: 15px;
    background-color:rgb(148, 148, 148);
    border-radius: 10px;
    cursor: pointer; 
    margin-bottom: 10px;
   }